<?xml version="1.0" encoding="utf-8"?>
	<widget xmlns =	"http://www.w3.org/ns/widgets"
			xmlns:gap		= "http//phonegap.com/ns/1.0"
			id				= "com.phonegap.example"
			versionCode		= "10"
			version			= "1.0.0" >

<!---versionCode is optional and Android only -->

<name>Invitacion2015BENE</name>

<description>
App Invitación Convivio 2015 BENE.
</description>

<author href= "jose.velasquez2807@gmail.com" email= "jose.velasquez2807@gmail.com">web
</author>

</widget>

